html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.main {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 500px;
}

.index {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 1000px;
  #qrcodes {
    div {
      padding-top: 5rem;
    }
  }
}
